body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  margin: 0px;
}

#loginpage{
  background-color: #1E4258;
}

#table_view {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
}

#table_view td, #table_view th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  align: center;
  width: auto;
  
}

#table_view tr:nth-child(even){background-color: #f2f2f2;}

#table_view tr:hover {background-color: #ddd;}

#table_view th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1E4258;
  color: white;
  
}
.atas {
  position: absolute;
  top: 6px;
  right: 16px;
  font-size: 18px;
}
a {
    color: inherit;
    text-decoration: none;
}
.fl{ 
  float: left;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}
.btnlist {
  background-color:	 #2D5F5D;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;

  position: relative;

}
.delete{
	background-color:	 red;
}
.update{
	background-color:	 green;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  margin-bottom: 10px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #1E4258;
  color: white;
}

.topnav a.active {
  background-color: #1E4258;
  color: white;
}
/* LOGIN */
.account-page{
    height: 100%;
    width: 100%;
    background-position: center;
    margin-top: 10%;
    min-width: 800px;
    min-width: 800px;
}

.form-container{
    background: #fff;
    width: 300px;
    height: 340px;
    position: center;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 40px 0 rgba(0,0,0,0.5);
    overflow: hidden;
}

form input{
    width: 80%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px soild #ccc;
}

form .btn{
    width: 80%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.btn{
    padding: 15px;
    background: #2D5F5D;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    color: white;
    border-radius: 25px;
}

fieldset{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
}

#container-form{
  max-width: 70%;
  margin: auto;
}

#radiobtn{
  float: left;
  margin-right: 10px;
  width: auto;
}

.inputradiobtn{
  width: 200px;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
}

#select{
  width: 450px;
  height: 30px;

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 65px;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#pagestyle{
  position: relative;display: block;
  
}

.inputSearch{
    position: center;
    margin: auto;
}
.btnSearch{
  background-color:	 #2D5F5D;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
.search{
  width: 390px;
}
.welcome{
  color: #fff;
  font-size: 30pt;
  padding-left: 40px;
  padding-top: 20px;
  text-shadow: -10px 10px 7px #000;
}