
table {
    width: 100%;
}

tr,
th,
td {
	border:1px solid black;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

th {
    color: navy;
}

/* LOGIN */
.account-page{
    padding: 50px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    min-width: 800px;
    min-width: 800px;
}

.form-container{
    background: #fff;
    width: 300px;
    height: 300px;
    position: center;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 40px 0 rgba(0,0,0,0.5);
    overflow: hidden;
}

form input{
    width: 80%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px soild #ccc;
}

form .btn{
    width: 80%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.btn{
    padding: 15px;
    background: #0275d8;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    color: white;
    border-radius: 25px;
}